.signup {
    background-color: #ffffff;
    height: 1024px;
    position: relative;
    width: 1440px;
  }
  
  .signup .loginbackground {
    height: 1024px;
    left: 631px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 809px;
  }
  
  .signup .sign-up {
    align-items: center;
    background-color: #ffd9ed;
    border-radius: 25px;
    display: inline-flex;
    gap: 10px;
    justify-content: center;
    left: 186px;
    padding: 14px 28px;
    position: absolute;
    top: 793px;
  }
  
  .signup .text-wrapper {
    color: #000000;
    font-family: "Cambo-Regular", Helvetica;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .signup .input-session {
    height: 618px;
    left: 40px;
    position: absolute;
    top: 142px;
    width: 498px;
  }
  
  .signup .password {
    height: 102px;
    left: 0;
    position: absolute;
    top: 387px;
    width: 494px;
  }
  
  .signup .overlap-group {
    background-color: #f2f2f2;
    border-radius: 40px;
    height: 74px;
    left: 0;
    position: absolute;
    top: 28px;
    width: 490px;
  }
  
  .signup .div {
    color: #bdbdbd;
    font-family: "Cambo-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 26px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 23px;
    white-space: nowrap;
  }
  
  .signup .text-wrapper-2 {
    color: #000000;
    font-family: "Arimo-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 26px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
  }
  
  .signup .confirm-password {
    height: 102px;
    left: 0;
    position: absolute;
    top: 516px;
    width: 494px;
  }
  
  .signup .email {
    height: 102px;
    left: 0;
    position: absolute;
    top: 258px;
    width: 494px;
  }
  
  .signup .text-wrapper-3 {
    color: #bdbdbd;
    font-family: "Cambo-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 23px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 24px;
    white-space: nowrap;
  }
  
  .signup .user-name {
    height: 102px;
    left: 0;
    position: absolute;
    top: 129px;
    width: 494px;
  }
  
  .signup .full-name {
    height: 89px;
    left: 0;
    position: absolute;
    top: 0;
    width: 500px;
  }
  
  .signup .text-wrapper-4 {
    color: #000000;
    font-family: "Arimo-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 13px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
  }
  
  .signup .frame {
    align-items: center;
    border: 1px solid;
    border-color: #f2f2f2;
    border-radius: 25px;
    display: flex;
    gap: 10px;
    height: 61px;
    justify-content: center;
    left: 0;
    padding: 10px;
    position: absolute;
    top: 28px;
    width: 498px;
  }
  
  .signup .p {
    color: #bdbdbd;
    font-family: "Cambo-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .signup .text-wrapper-5 {
    color: #000000;
    font-family: "Kaushan Script-Regular", Helvetica;
    font-size: 64px;
    font-weight: 400;
    left: 111px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 21px;
  }
  
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-image: url('../assets/LoginBackground.jpg') ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  

input {
    margin-bottom: 15%; 
    padding: 8%;
}

.input-session {
    display: flex;
    flex-direction: column;
    align-items: center;
}

  
.text-wrapper {
    font-size:150%;
    font-family: 'Kaushan Script', cursive;
    padding: 7%;
    display: inline-block; 

}  



.sign-up {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .sign-up:hover {background-color: #000000}
  
  .sign-up:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }