body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.signup {
  background-image: url('../assets/LoginBackground.jpg');
  background-repeat: no-repeat;
  background-size: cover; /* Set background-size to cover the entire viewport */
  height: 100vh; /* Set height to 100% of viewport height */
  margin: 0; /* Remove margin to cover the entire viewport */
  padding: 0; /* Remove padding to cover the entire viewport */
  display: flex;
  justify-content: center;
  align-items: center;
}


.signup .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.signup .input {
  margin-bottom: 15%; 
  padding: 8%;
}

.signup .input-session {
  padding: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.signup .text-wrapper {
  font-size:200%;
  font-family: 'Kaushan Script', cursive;
  padding: 7%;
  display: inline-block; 

}  



.signup .sign-up {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
 
.signup .sign-up:hover {background-color: #000000}

.signup .sign-up:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
